

*,
*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user{
 border: 5px solid rgb(0, 0, 0);
 text-align:center ;
background-color: rgb(208, 208, 214);
 text-decoration: none;
list-style-type: none;


}
.lista{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
   margin-left: 38px;
   font-size: 35px;
   text-shadow: 2px 1px 1px rgb(228, 59, 59);
   color: rgb(16, 52, 16);
   font-weight: 900;
}

.litte{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-weight: 800;
    font-size: 25px;
    color: rgba(68, 86, 50, 0.992);
}
